body {
	font-family: arial;
	font-size: 12px;
	color: white;
	background: black;
	width: 100%;
}

#container {
	width: 1100px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
}

#header {
	margin-top: 10px;
	margin-bottom: 10px;
}

img#logo {
	margin: 0 auto;
	width: 250px;
	height: 140px;
	display: block;
}

#menu {
	background: #282828;
	overflow: hidden;
	width: 100%;
	text-align: center;
	padding: 10px;
}



#menu a {
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	padding: 20px;
	opacity: 1;
	color: white;
	font-size: 14px;
}

/*content*/

.notif {
	background: #282828;
	padding: 10px;
	margin: 10px 0;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

#content {
	padding: 10px 0;
	overflow: hidden;
}

#container-user-akses {
	width: 350px;
	height: auto;
	margin: 50px auto;
}

.element-form label {
	display: block;
	font-weight: bold;
}

.element-form span {
	display: block;
	padding-bottom: 7px;
}

.element-form span input[type="text"],
.element-form span input[type="password"],
.element-form span textarea {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.element-form span input[type="submit"] {
	background: #282828;
	border: none;
	color: white;
	font-size: 12px;
	cursor: pointer;
	border-radius: 3px;
	padding: 7px 20px;
}

.element-form span input[type="submit"]:hover {
	background: gray;
	border: none;
	color: white;
	font-size: 12px;
	cursor: pointer;
	border-radius: 3px;
	padding: 7px 20px;
}

/*footer*/
#footer {
	background-color: #282828;
	width: 1100px;
	padding: 10px;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 100px;
}

#footer p {
	padding-top: 40px;
}