body {
	font-family: arial;
	font-size: 12px;
	color: white;
	background: black;
	width: 100%;
}

.table-list tr {
  border-bottom: 1px solid gray;
}

.tombol-action {
  text-decoration: none;
  color: white;
  padding: 4px 10px;
  background: gray;
  border-radius: 3px;
}

.label-data-pengiriman {
  border: 1px solid gray;
  padding: 10px 20px;
  margin: 0px;
}

#frame-data-pengiriman {
  float: left;
  width: 500px;
  margin-left: 10px;
  margin-right: 20px;
}
#frame-data-detail {
  float: left;
  width: 560px;
}
#frame-detail-order {
  border: 1px solid gray;
}
#frame-form-pengiriman {
  border: 1px solid gray;
  padding: 15px;
}

#container {
	width: 1100px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
}

#header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.total-barang {
  vertical-align: top;
  font-size: 10px;
  font-weight: bold;
}

.update-quantity {
  width: 30px;
  text-align: center;
}

img#logo {
	margin: 0 auto;
	width: 250px;
	height: 140px;
	display: block;
}

#menu {
	background: #282828;
	overflow: hidden;
	width: 100%;
	text-align: center;
	padding: 10px;
}



#menu a {
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	padding: 20px;
	opacity: 1;
	color: white;
	font-size: 14px;
}

/*content*/

.notif {
	background: #282828;
	padding: 10px;
	margin: 10px 0;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

#content {
	padding: 10px 0;
	overflow: hidden;
}

#container-user-akses {
	width: 350px;
	height: auto;
	margin: 50px auto;
}

.element-form label {
	display: block;
	font-weight: bold;
}

.element-form span {
	display: block;
	padding-bottom: 7px;
}

.element-form span input[type="text"],
.element-form span input[type="password"],
.element-form span textarea {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.element-form span input[type="submit"] {
	background: #282828;
	border: none;
	color: white;
	font-size: 12px;
	cursor: pointer;
	border-radius: 3px;
	padding: 7px 20px;
}

.element-form span input[type="submit"] {
	background: #282828;
	border: none;
	color: white;
	font-size: 12px;
	cursor: pointer;
	border-radius: 3px;
	padding: 7px 20px;
}

.element-form span input[type="submit"]:hover {
	background: white;
	border: none;
	color: #282828;
	font-size: 12px;
	cursor: pointer;
	border-radius: 3px;
	padding: 7px 20px;
}

#bg-page-profile {
	overflow: hidden;
}

#menu-profile {
	float: left;
	width: 245px;
	background: #282828;
}

#menu-profile ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu-profile ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 20px;
}

.active {
	background-color: #red;
}

#menu-profile ul li a:hover,
#menu-profile ul li a.active {
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 20px;
	background: gray;
}

#profile-content {
	float: left;
	width: 835px;
	padding: 10px;
	background: gray;
}

#frame-tambah {
	margin-bottom: 10px;
	text-align: right;
}

#frame-tambah a {
	background: black;
	padding: 8px 16px;
	border-radius: 5px;
	text-decoration: none;
	text-align: right;
	color: white;
	font-weight: bold;
}

#frame-tambah a:hover {
	background: white;
	padding: 8px 16px;
	border-radius: 5px;
	text-decoration: none;
	text-align: right;
	color: black;
	font-weight: bold;
}

.table-list {
	width: 100%;
	border-collapse: collapse;

	background: #282828;
}

.baris-title {
	background: black;
}

.kolom-nomor {
	width: 20px;
	text-align: center;
}

.kiri {
	text-align: left;
}

.edit-a {
	background: black;
	padding: 8px 16px;
	border-radius: 5px;
	text-decoration: none;
	text-align: right;
	color: white;
	font-weight: bold;
}

.edit-a:hover {
	background: white;
	padding: 8px 16px;
	border-radius: 5px;
	text-decoration: none;
	text-align: right;
	color: black;
	font-weight: bold;
}

.tengah {
	text-align: center;
}

.kanan {
	text-align: right;
}

.table-list th,
.table-list td{
	padding: 10px 7px;
}

#kiri {
	width: 245px;
	height: auto;
	float: left;
}

#kanan {
	width: 845px;
	margin-left: 10px;
	height: auto;
	float: right;
}

#kanan #frame-barang ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#kanan #frame-barang ul li {
	background: #282828;
	width: 235px;
	padding: 10px 15px;
	margin-bottom: 15px;
	margin-right: 15px;
	float: left;
	height: 385px;
}

#kanan #frame-barang ul li .price {
	font-size: 15px;
	font-weight: bold;
	text-align: right;
	margin-bottom: 10px;
}

#kanan #frame-barang ul li a img {
	display: block;
	width: 240px;
}

#kanan #frame-barang ul li .keterangan-gambar {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10x 0px;
	height: 50px;
}

#kanan #frame-barang ul li .keterangan-gambar p {
	text-align: center;
	margin: 5px 0px;

}

#kanan #frame-barang ul li .keterangan-gambar p a {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

#kanan #frame-barang ul li .keterangan-gambar span {\
	display: block;
	text-align: center;
}

#kanan #frame-barang ul li .button-add-cart {
	text-align: center;
}

#kanan #frame-barang ul li .button-add-cart a {
	background: black;
	color: white;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-block;
	margin-top: 10px;
	border-radius: 3px;

}

#frame-button-keranjang a {
  text-decoration: none;
  color: white;
  padding: 7px 20px;
  background: #282828;
  margin-top: 15px;
  display: inline-block;
}

#lanjut-belanja {
  float: left;
}

#lanjut-pemesanan {
  float: right;
}

.kanan.hapus-item {
	position: relative;
}

.kanan.hapus-item a{
  position: absolute;
  text-decoration: none;
  color: white;
  background: black;
  padding: 5px 8px;
  border-radius: 3px;
  top: 0;
  right: 0;
}

#kanan #frame-barang ul li .button-add-cart a:hover {
	background: white;
	color: black;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-block;
	margin-top: 10px;
	border-radius: 3px;

}

#menu-kategori ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu-kategori ul li {
	margin-bottom: 5px;
}

#menu-kategori ul li a {
	display: block;
	padding: 10px;
	background: #282828;
	color: white;
	text-decoration: none;
}

#menu-kategori ul li a:hover,
#menu-kategori ul li a.active {
	display: block;
	padding: 10px;
	background: gray;
	color: white;
	text-decoration: none;
}

#detail-barang {
	color: black;
	background: white;
	padding: 15px;
}

#detail-barang h2 {
	margin-top: 0px;
}

#detail-barang #frame-gambar {
	background: gray;
	padding: 20px;
}

#detail-barang #frame-gambar img {
	display: block;
	margin: 0px auto;
}

#detail-barang #frame-harga {
	margin: 15px 0px;
}

#detail-barang #frame-harga span {
	font-size: 15px;
	font-weight: bold;
	color: black;
}

#detail-barang #frame-harga a {
	background: #282828;
	color: white;
	text-decoration: none;
	padding: 5px 10px;
	float: right;
	display: inline-block;
	border-radius: 3px;
}

#detail-barang #frame-harga a:hover {
	background: #282828;
	color: white;
	text-decoration: none;
	padding: 5px 10px;
	float: right;
	display: inline-block;
	border-radius: 3px;
}

#detail-barang #keterangan {
	margin: 20px 0px;
	color: black;
}

/*footer*/
#footer {
	background-color: #282828;
	width: 1100px;
	padding: 10px;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 100px;
}


#footer p {
	padding-top: 40px;
}